init.author.email=adama.dieng@digitastuces.com
init.author.url=http://digitastuces.com/
init.license=MIT
init.version=0.0.1
registry=https://nexus.digitastuces.com/repository/npm-group/
loglevel=http
//nexus.digitastuces.com/repository/npm-private/:_authToken=NpmToken.09c35392-8743-3b77-9008-b21edfc8182a
//nexus.digitastuces.com/repository/npm-group/:_authToken=NpmToken.09c35392-8743-3b77-9008-b21edfc8182a
init-author-name=Adama DIENG
